@media screen and (max-width:700px) 
{
    header .container
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .botoes
    {
        display: flex;
    }
    .botao
    {
        margin-top: 10px;
        width: 165px;
    }
}

@media screen and (max-width:598px) 
{
    .carrosel-filmes
    {
        margin-left: 0px;
    }
    .carrosel-titulo
    {
        font-size: 16px;
        margin-left: 15px;
    }
    .box-filme
    {
        border-radius: 0px;
    }
}

@media screen and (max-width:420px) 
{
    .filme-principal
    {
        height: 800px;
    } 
}

@media screen and (max-width:325px) 
{
    .filme-principal
    {
        height: 600px;
    } 
    .filme-principal .container
    {
        width: 85%;
    }
    .botoes
    {
        display: flex;
        flex-direction: column;
    } 
}

@media screen and (max-width:285px) 
{
    header .container
    {
        margin-left: 0;
    }
    header .logo
    {
        font-size: 30px;
    }
    header nav
    {
        margin-left: 10px;
        font-size: 14px;
    }
    .filme-principal
    {
        height: 780px;
    }
}


@media screen and (min-width:1000px) 
{
    .descricao
    {
        width: 50%;
    }
}
